.submitWrapper {
  padding: 62px;
  background-color: #B2CEDA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 100%; */

}

.submitButton {
  font-family: Roboto;
  background-color: #1a556d;
  color: white;
  padding: 16px 24px;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  width: 328px;
}

.secondaryButton {
  font-family: Roboto;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid #1B556D;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #1B556D;
  padding: 16px 24px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  width: 338px;
}