.driverContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.driverImage {
  border-radius: 40px;
}

.driverName {
  text-transform: uppercase;
  max-width: 253px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}