.section {
  padding: 20px;
<<<<<<< HEAD
  background-color: #B2CEDA;
=======
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-radius: 8px;
>>>>>>> dce10fb (conflict)
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.radioGroup {
  display: flex;
  flex-direction: row;
}

.radioGroup label {
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.radioGroup input[type="radio"] {
  margin-right: 10px;
}

.inlineRadioGroup {
  display: flex;
  gap: 20px;
}