

  .label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    color: #1A556D;
  }
  
  .modalTitle {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;


  }
  .value {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .contractGroup {
    display: flex;
    gap: 32px;
  }
  
  .inputGroup {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  
  .inputLabels {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;    
    justify-content: space-around;
  }
  
  .inputFields {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  
}
  
  .inputLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #1A556D;

  }
  
    .inputField {
    width: 130px;
    height: 51px;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
  }
  
  
  
  .error {
    color: red;
    margin-top: 10px;
  }
  