.rowTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.rowTitle div {
  flex: 1 1 12.5%; /* 100% / 8 = 12.5% */
  text-align: center;
  font-weight: bold;
  margin: 0 5px; /* Adiciona um pequeno espaço entre os itens */
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura */
}
