.inputContainer textarea {
  margin-top: 16px;
  width: 529px;
  height: 118px;
  padding: 16px 20px;
  border-radius: 12px;
  border: 1px solid #1B556D;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  outline: none;
}

.errorContainer {
  margin-top: 8px;
  text-align: left;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin: 0;
}