.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  background-color: #fdfdfd;
  padding: 16px 0;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.iconContainer:hover {
  transform: translateY(-5px);
}

.iconContainer p {
  color: #1B556D;
  font-size: 16px;
  font-weight: 600;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal h2 {
  margin-top: 0;
  color: #333;
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  background-color: #B2CEDA;
  width: 307px;
  border: 1px solid #1B556D;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown ul {
  list-style: none;
  width: 100%;
}

.dropdown li {
  padding: 16px;
  cursor: pointer;
  border-bottom: 2px solid #1B556D;
  transition: .1s ease all;
  font-size: 18px;
  color: #1B556D;
  font-weight: 400;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li:first-child:hover {
  border-radius: 16px 16px 0px 0px;
}

.dropdown li:last-child:hover {
  border-radius: 0px 0px 16px 16px;
}

.dropdown li:hover {
  background-color: #3280A0;
  color: #fff;
  font-weight: 500;
}