.section {
  padding: 20px;
  background-color: #B2CEDA;
}

.rowInputs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Alinha os elementos no topo */
  gap: 20px;
}

.inputGroup {
  flex: 1;
}

.radioGroup {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 8px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: rgba(27, 85, 109, 0.3);
  color: rgba(26, 85, 109, 0.50);
  padding: 16px 8px;
  width: 80%;
}

.input::placeholder {
  color: #1A556D;
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.iconGroup {
  display: flex;
  gap: 10px;
}

.iconOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.iconText {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.hiddenRadio {
  display: none;
}