.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #BCBCBC 0%, #FFF 100%);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16vw);
  margin-left: 10vw;
  transition: width 0.3s, margin-left 0.3s;
}

.retractedContentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6vw);
  transition: width 0.3s, margin-left 0.3s;
}

.header {
  width: 100%;
}

.content {
  flex: 1;
  padding: 0.5rem;
}

.searchComponents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.pendingOccurrencesContainer {
  display: flex;
  flex-direction: column;
}

.pendingOccurrencesContainer h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1B556D;
  margin-top: 40px;
}

.backButtonContainer {
  margin-top: 10px;
  margin-bottom: 24px;
}

.backButton {
  padding: 12px;
  border-radius: 10px;
}

.occurrenceDetailsContainer {
  width: 100%;
  background-color: #B2CEDA;
  border-radius: 16px;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 42px;
  /* align-items: flex-start; */
}

.informations p {
  font-size: 22px;
  font-weight: 600;
  color: #1B556D;
}

.informations span {
  margin-left: 3px;
  color: #0D0D0D;
}

.row {
  margin: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowPictures {
  margin: 0px 32px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.audioContainer {
  margin: 0px 32px 32px 32px;
  display: flex;
  gap: 18px;
}

.audioBar {
  flex: 1;
  height: 42px;
  padding: 13px 18px;
  border: 1px solid #1A556D;
  background-color: #1a556d4d;
  border-radius: 10px;
}

.playIcon {
  width: 45px;
  height: 42px;
  border: 1px solid #1A556D;
  background-color: #1a556d4d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.textContainer,
.textAreaContainer {
  margin: 0px 32px 32px 32px;
  flex: 1;
  padding: 13px 18px;
  background-color: #1a556d4d;
  border-radius: 10px;
}

.textAreaContainer {
  background-color: #3280a0cc;
}

.textContainer p {
  font-size: 16px;
}

.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 14px;
}

.actionButtonsContainer .btnDark {
  width: 328px;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}

.actionButtonsContainer .btnLight {
  width: 328px;
  padding: 16px 24px;
  border-radius: 10px;
  border: 3px solid #1B556D;
  background-color: transparent;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #1B556D;
  font-size: 24px;
  font-weight: 700;
}

.responseTextArea {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: 'Roboto';
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 100px;
  resize: none;
}

.responseTextArea::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.responseContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

