.section {
<<<<<<< HEAD
  padding: 3rem;
  background-color: #B2CEDA;
=======
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-radius: 8px;
>>>>>>> dce10fb (conflict)
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rowRadioGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.radioGroup,
.inputGroup {
  margin-bottom: 20px;
}

.radioOptions {
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
<<<<<<< HEAD
  background-color: rgba(27, 85, 109, 0.3);
  color: #1A556D;
=======
>>>>>>> dce10fb (conflict)
}

.rowInputs {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD

=======
  gap: 20px;
>>>>>>> dce10fb (conflict)
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
<<<<<<< HEAD
  color: #1A556D;
=======
>>>>>>> dce10fb (conflict)
}