.section {
  padding: 3rem;
  background-color: #B2CEDA;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rowRadioGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.radioGroup,
.inputGroup {
  margin-bottom: 20px;
}

.radioOptions {
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgba(27, 85, 109, 0.3);
  color: #1A556D;
}

.rowInputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.label {

  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #1A556D;

}

.input::placeholder {
  color: #1A556D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.select option {
  color: #1A556D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Adicione estas regras */

.radioIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.radioIcon.checked path {
  fill: blue;
  /* Ou qualquer cor que você queira quando selecionado */
}

.hiddenRadio {
  display: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioLabel span {
  margin-left: 5px;
}

.hiddenInput {
  display: none;
}

.iconGroup {
  display: flex;
  gap: 10px;
}

.iconOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.hiddenRadio {
  display: none;
}