.section {
  padding: 20px 20px 0px 20px;
  background-color: #B2CEDA;
  max-width: 1284px;
  gap: 27px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rowRadioGroups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.radioGroup {
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 32px;
}

.radioOptions {
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgba(27, 85, 109, 0.3);
  color: #1A556D;
  height: 51px;
  font-weight: 700;
  outline: 0;
  /* Adicione esta linha */
}

.rowInputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.rowInputs:first-child {
  flex-wrap: wrap;
}

.rowInputs:first-child .inputGroup {
  flex-basis: calc(50% - 10px);
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  /* Alterado de 24px para 22px */
  font-weight: bold;
  margin-bottom: 4px;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #1A556D;
  height: 51px;
  /* Adicione esta linha */
}

.input::placeholder {
  color: rgba(26, 85, 109, 0.50);
  font-size: 16px;
  font-weight: 700;
}

.select {
  color: #1A556D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* Adicione estas regras */

.radioIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.radioIcon.checked path {
  fill: blue;
  /* Ou qualquer cor que você queira quando selecionado */
}

.hiddenRadio {
  display: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioLabel span {
  margin-left: 5px;
}

.hiddenInput {
  display: none;
}

.iconGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 18px;
}

.iconOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconText {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: medium;
  color: #1A556D;
  margin-right: 24px;
}

.iconText:first-child {
  margin-right: 50px;
}

.icon {
  margin-right: 5px;
}

.hiddenRadio {
  display: none;
}

.halfWidth {
  flex-basis: 50%;

}

/* Remova as seguintes regras */
.inputGroup .firstOption {
  font-weight: 700;
}

.select option:first-child {
  font-weight: bold;
}