.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #BCBCBC 0%, #FFF 100%);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16vw);
  margin-left: 10vw;
  transition: width 0.3s, margin-left 0.3s;
}

.retractedContentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6vw);
  transition: width 0.3s, margin-left 0.3s;
}

.header {
  width: 100%;
}

.content {
  flex: 1;
  padding: 0.5rem;
}

.backButtonContainer {
  margin-top: 10px;
  margin-bottom: 24px;
}

.backButton {
  padding: 12px;
  border-radius: 10px;
}

.profileContainer {
  border-radius: 16px;
  background-color: #B2CEDA;
  padding: 40px 27px;
}

.profileContainer p {
  color: #1B556D;
  font-size: 24px;
  font-weight: 700;
}

.profileContainer span {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-left: 12px;
}

.nameAndImageContainer {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

.imageContainer {
  position: relative;
}

.changePhotoIcon {
  position: absolute;
  bottom: 0;
  right: 4%;
  cursor: pointer;
}

.imageProfile {
  border-radius: 154px;
  border: 1px solid #FAFDFD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  flex-wrap: wrap;
  margin: 40px 0px;
}

.roleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: flex-start;
  gap: 32px;
}

.roleContainer h3 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.iconGroup {
  display: flex;
  gap: 10px;
}

.iconOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconText {
  font-size: 22px;
  color: #1A556D;
  margin-right: 24px;
}

.hiddenRadio {
  display: none;
}

.changePasswordButton {
  background-color: transparent;
  border: 2px solid #1B556D;
  color: #1B556D;
  font-size: 16px;
  font-weight: 700;
  height: 43px;
  padding: 12px;
  margin-bottom: 70px;
}

.editButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
}

.editButton,
.saveButton {
  width: 328px;
  padding: 16px 24px;
  border-radius: 10px;
  background: #1A556D;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 700;
}

.cancelButton {
  width: 328px;
  padding: 16px 24px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #1B556D;
  color: #1B556D;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 700;
}

.saveButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.editInput {
  outline: none;
  background: #1b556d4d;
  border: none;
  border-radius: 6px;
  padding: 8px 8px 8px 11px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  color: #0D0D0D;
}

.hiddenInput {
  display: none;
}