.body {
  /* flex: 1; */
  /* padding: 2rem; */
  /* background-color: #FAFDFD; */
  padding-top: .5rem;
  overflow: hidden;
  /* width: 80vw; */
  max-width: 1264px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .body {
    max-width: 1050px;
  }
}