.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #BCBCBC 0%, #FFF 100%);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16vw);
  margin-left: 10vw;
  transition: width 0.3s, margin-left 0.3s;
  box-sizing: border-box;
}

.retractedContentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6vw);
  transition: width 0.3s, margin-left 0.3s;
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.searchComponents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;
}

.content {
  flex: 1;
  padding: 0.5rem;
}

.cards {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: inherit;
}

.cards::-webkit-scrollbar {
  width: 12px;
}

.cards::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fdfdfd;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #1B556D;
  border-radius: 12px;
}

.backButtonContainer {
  margin-top: 10px;
  margin-bottom: 24px;
}

.backButton {
  padding: 12px;
  border-radius: 10px;
}

.serviceDetailsContainer {
  width: 100%;
  background-color: #B2CEDA;
  border-radius: 16px;
  margin-bottom: 24px;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 42px;
}

.informations p {
  font-size: 22px;
  font-weight: 600;
  color: #1B556D;
}

.informations span {
  margin-left: 3px;
  color: #0D0D0D;
}

.title {
  margin: 0px 32px;
  display: flex;
  gap: 14px;
  text-decoration: underline 1px solid #1B556D;
}

.row {
  margin: 0px 32px;
  display: flex;
  align-items: center;
  gap: 88px;
}

@media screen and (max-width: 1280px) {
  .row {
    gap: 44px;
  }
}

.longRow {
  margin: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textContainer,
.textAreaContainer {
  margin: -10px 32px 32px 32px;
  flex: 1;
  padding: 13px 18px;
  background-color: #1a556d4d;
  border-radius: 10px;
}

.textAreaContainer {
  background-color: #3280a0cc;
}

.textContainer p {
  font-size: 16px;
}

.whatsappContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  /* padding-bottom: 14px; */
}

.actionButtonsContainer .btnDark {
  width: 328px;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}

.footer {
  margin: 8px 32px 27px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .dateAndTimeChangeText {
  font-size: 12px;
  color: #0D0D0D;
  font-weight: 400;
}

.deleteContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.deleteContainer p {
  color: #BF1231;
  font-size: 16px;
  font-weight: 600;
}

.loadingContainer {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}