.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #BCBCBC 0%, #FFF 100%);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 16vw);
  margin-left: 10vw;
  transition: width 0.3s, margin-left 0.3s;
}

.retractedContentWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6vw);
  transition: width 0.3s, margin-left 0.3s;
}

.header {
  width: 100%;
}

.btnsHeader {
  margin-top: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 72px;
}

.searchComponents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  padding: 12px;
  border-radius: 10px;
}

.content {
  flex: 1;
  padding: 0.5rem;
}

.cards {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: inherit;
}

.cards::-webkit-scrollbar {
  width: 12px;
}

.cards::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fdfdfd;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #1B556D;
  border-radius: 12px;
}

.loadingContainer {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}