@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  /* background-color: #A8A5A5; */
  scroll-behavior: smooth;
}

/* Basic styling for the app container */
.appContainer {
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #55555578;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #55555595;
}