/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #A8A5A5;
}

/* Ensuring body takes maximum page space */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

/* Basic styling for the app container */
.appContainer {
  text-align: center;
}