.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 44px;
  margin-bottom: 48px;
}

.button {
  padding: 12px;
  border-radius: 4px;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-4px);
}

.approve {
  background-color: #1C952C;
  color: #fff;
}

.request {
  background-color: transparent;
  border: 2px solid #1B556D;
  color: #1B556D;
}

.downloadButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.block {
  background-color: #A33830;
  color: #fff;
}