.sidebar {
  background-color: #333;
  color: white;
  width: 20vh;
  height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}