.section {
  padding: 20px;
  border-radius: 8px 8px 0 0;
  background-color: #B2CEDA;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inputWrapper {
  margin-bottom: 20px;

}

.rowInputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.rowInputs .inputGroup {
  width: 50%;
  /* Alterado de flex: 1 para width: 40% */
}

.rowInputs .input {
  width: 100%;
}

.label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgba(27, 85, 109, 0.3);
<<<<<<< HEAD
  color: #1A556D;
=======
  border: 2px solid #1B556D;
>>>>>>> dce10fb (conflict)
}

.inputDate {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: rgba(27, 85, 109, 0.3);
<<<<<<< HEAD
  color: #1A556D;

=======
  border: 2px solid #1B556D;
>>>>>>> dce10fb (conflict)
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}