.container {
  width: 1267px;
  height: 60px;
<<<<<<< HEAD
  margin: 0 auto 12px auto;
  background-color: bisque;
=======
  margin: 0 auto;
  background-color: #FAFDFD;
>>>>>>> f41803b (create FreightStatus subcomponent (UI))
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}