.row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 2fr;
  /* gap: 10px; */
  width: 100%;
}

.row p {
  font-size: 18px;
  font-weight: 600;
  text-decoration-line: underline;
  margin-bottom: 8px;
  text-align: left;
}

.numberOfPhotos {
  color: #0B7517;
}

.driverName {
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
