.cityAndStateValue {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cityName {
  text-transform: capitalize;
}

.stateName {
  text-transform: uppercase;
}