.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border-radius: 8px;
  width: 500px;
  border: none;
  border-radius: 8px;
  max-width: 512px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  height: 72px;
  background-color: #1A556D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 8px 8px 0 0;

}

.modal h2 {

  color: #fff;
  padding: 20px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.modal p {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-color: #1A556D;
}

.closeButton svg {
  width: 32px;
  height: 32px;
  fill: white;
}



.modal button:hover {
  background-color: #0056b3;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.okButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-color: #1A556D;
}